{% if include.entries %}
{% assign level = include.level | default: 0 %}
{% assign level-class = level | prepend: "nav-level-" %}
<nav>
{% for naventry in include.entries %}
  {% if naventry %}
    {% if naventry.title %} {% assign title = naventry.title %} {% else %} {% assign title = naventry.key | capitalize %} {% endif %}
    {% if naventry.href %} {% assign href = naventry.href %} {% else %} {% assign href = naventry.key | prepend: "/" %} {% endif %}
    <a class="nav-link {{ level-class }}{% if naventry.key == include.current-key %} active" aria-current="page{% endif %}" href="{{ href }}">{{ title }}</a>
    {% if naventry.key == include.current-key %}
      {% include navbar.html entries = naventry.items current-key = naventry.key %}
    {% endif %}
  {% else %}
    <span class="nav-separator"></span>
  {% endif %}
{% endfor %}
</nav>
{% endif %}
