---
---

@import "{{ site.theme }}";

.text-center {
  text-align: center;
}

.page-title {
  float: left;
}

nav {
  text-align: right;
  margin-top: 4px;
}

.nav-link, .sub-nav-link {
  display: inline-block;
  padding: 8px 18px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-weight: bold;
  color: #eaeaea;
  border: 2px solid #eaeaea;
  border-radius: 50px;
}

.nav-link {
  font-size: 12px;
  background-color: black;
}

.nav-level-0 {
  font-size: 16px;
}

.nav-link.active, .sub-nav-link.active {
  color: #b5e853;
  border-color: #b5e853;
  background-color: black;
}

.nav-link:hover, .sub-nav-link:hover {
  color: #b5e853;
  background-color: black;
}

.nav-separator::before {
  content: "::";
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-weight: bold;
}

ul {
  text-align: left;
}

dt {
  color: #b5e853;
}

footer {
  text-align: center;
  border-top: 1px dashed #b5e853;
  margin-top:50px;
}

a {
  text-decoration-line: none;
}

a:hover {
  background-color: #63c0f5;
  color: black;
}

.technology dd {
  margin-left: 0;
}
