---
layout: default
menu: articles
---

{{ content }}

<script src="https://giscus.app/client.js"
        data-repo="clear-code-uk/clear-code-uk.github.io"
        data-repo-id="R_kgDOHD_m0g"
        data-category="Comments"
        data-category-id="DIC_kwDOHD_m0s4CSoWo"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_high_contrast"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
